type: "MARKDOWN_NOTE"
folder: "2b8845fe5201a3234a23"
title: "eikd"
content: '''
  eikd
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2019-06-28T08:26:54.590Z"
updatedAt: "2019-06-28T20:37:37.996Z"
