---
layout: default
---

{% assign tag = site.data.tags[page.tag] %}

<h1 class="page-title">{{tag.name}}</h1>
{% if tag.description %}
  {% comment %}
    Adding the "message" class to the last (and usually only) paragraph of the description.
  {% endcomment %}
  {% capture desc %}{{tag.description}}{% endcapture %}
  {{desc | markdownify}}
{% endif %}
<div class="toc">
{% if site.tags[page.tag] %}
  {% for post in site.tags[page.tag] %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
      {% unless forloop.first %}</ul>{% endunless %}
      <h2 id="y{{post.date | date: "%Y"}}">{{currentdate}}</h2>
      {% assign date = currentdate %}
    {% endif %}
    <ol>
        <li>
           <a href="{{site.baseurl}}{{post.url}}" title="{{post.title}}">
           <span class="chapter">{{post.title}}</span>
           <span class="toc-page">{{post.date | date: "%m/%d"}}</span></a>
        </li>
     </ol>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
</div>
{% else %}
    <p>此标签下暂无文章</p>
{% endif %}
